<%- include("./partials/header" ); -%>

    <section class="main-con">
        <div class="container">
            <h1>
                <%= pageTitle %>
            </h1>
            <p class="content">
                <%= content %>
            </p>

        </div>

    </section>

    <%- include("./partials/footer" ); -%>
